body {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    background: url('../img/gg.webp') no-repeat center center/cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed; /* Ensures background doesn't move */
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Apply blur effect */
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ffcc00;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 20px auto; /* Margin creates space above and below */
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    backdrop-filter: blur(10px); /* Apply blur effect */
}

.left-side, .right-side {
    width: 100%;
    max-width: 600px;
    text-align: left;
    padding: 20px;
}

h1, h2, h3 {
    color: #ffcc00;
    text-shadow: 2px 2px 5px #181414;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px;
    width: 100%;
    color: #fff;
    position: relative;
    backdrop-filter: blur(10px); /* Apply blur effect */
    margin-top: 20px; /* Margin creates space above the footer */
}
