/* General Styles */
body {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Change Email Container */
.login-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
    backdrop-filter: blur(10px);
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.login-container input {
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    box-sizing: border-box;
}

.login-container button {
    width: calc(100% - 22px); /* Same width as input fields */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #000000b3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive; /* Ensure button uses the same font */
    margin: 0; /* Ensure no additional margin */
    margin-bottom: 5px;
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0.7); /* Added shadow effect */
    text-shadow: 1px 1px 3px #000; /* Added text shadow */
    position: relative; /* Required for pseudo-elements */
    z-index: 0;
}

.login-container button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(4px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.login-container button:hover:before {
    opacity: 0.7;
}

.login-container button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(55, 55, 55);
    left: 0;
    top: 0;
    border-radius: 5px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
