.title {
  font-size: 22px;
  margin-top: 10px;
}

/* Footer Styles */
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 10px;
  backdrop-filter: blur(10px);
  margin-top: 10px;
  animation: fadeIn 0.5s ease-out forwards;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (max-width: 480px) {
  .footer{
      font-size: 8px;
  }
}
