body {
    position: relative;
    height: 100vh;
    background: url('../img/gg.webp') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    text-shadow: 2px 2px 5px #181414;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Apply blur effect */
    text-align: right;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ffcc00;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 22px;
    text-shadow: 2px 2px 5px #181414;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

p {
    cursor: pointer;
}
