/* Profile Styles */
.profile-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  margin: auto;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  width: 150px;
  height: 150px;
  filter: grayscale(100%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.profile-info {
  text-align: center;
  margin-top: 1rem;
}

.profile-info h2,
.profile-info h3,
.profile-info p {
  margin: 0.5rem 0;
}

.edit-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #000000b3;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 3px #000;
  position: relative;
  z-index: 0;
}

.edit-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}

.edit-button:hover:before {
  opacity: 0.7;
}

.edit-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 55, 55);
  left: 0;
  top: 0;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  margin: auto;
  backdrop-filter: blur(10px);
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  box-sizing: border-box;
}

.modal-content button {
  width: calc(100% - 22px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #000000b3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  margin-bottom: 5px;
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 3px #000;
  position: relative;
  z-index: 0;
}

.modal-content button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}

.modal-content button:hover:before {
  opacity: 0.7;
}

.modal-content button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 55, 55);
  left: 0;
  top: 0;
  border-radius: 5px;
}

/* Add this rule */
.save-button {
  margin-top: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 10px;
  backdrop-filter: blur(10px);
  margin-top: 10px;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes glowing {
  0% {
      background-position: 0 0;
  }

  50% {
      background-position: 400% 0;
  }

  100% {
      background-position: 0 0;
  }
}

.logout-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #000000b3;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 3px #000;
  position: relative;
  z-index: 0;
}

.logout-button:before {
  content: '';
  background: linear-gradient(45deg, #6a0000, #ff0000, #6a0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}

.logout-button:hover:before {
  opacity: 0.7;
}

.logout-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 55, 55);
  left: 0;
  top: 0;
  border-radius: 5px;
}
